/* css geral dos body's */
.body {
    font-family: Arial, sans-serif;
    background-color: #c3cddd;
    text-align: center;
    justify-content: center;
    
    /* max-width: 780px;(por jesiel) */
    /* margin: 0 auto;(por jesiel) */
    /* padding: 0; (por jesiel)*/
}
/* css geral dos body's */

/* botões em geral */
button {
    text-align: center;
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(15, 15, 133);
    border: rgb(15, 15, 133);
    border-radius: 8px;
}
/* bootões em geral */

/* css do direct */
.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 18px;
}
.direct_alinhar {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
}
.alinhar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* css do direct */

/* css do menu */

.menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
}

.menu input {
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.botao button{
    text-align: center;
    width: 94px;
    height: 47px;
    border: rgb(15, 15, 133);
    border-radius: 8px;
    margin: 2px;
}
/* css do menu */

/* css rotas1_colaborador */
.rotas1{
    text-align: center;
    background-color: #c3cddd;

}
.usuario {
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.puto{
    margin: 0 0 0 0%;
}

.foto{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

input{
    border-radius: 20px;
    border-color: #25406b;
}

.direct{
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

.margem{
    margin-right: 0.4rem;
}

.direct_rotas1 {
   font-size: 30px;
   margin-top: 0.0rem;
   font-size: 25px;
   margin-left: 1rem;
}


.perfil_rotas1 {
    font-size: 50px;
}
/* css de rotas1_colaborador */

/* css rotas2_colaborador */
.rotas2_confirmar button{
    background-color: rgb(35, 35, 129);
    border-color: #ccc;
    border-radius: 10px;
    color: white;  
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil_rotas2 {
  font-size: 50px;
}

.direct_rotas2{
    font-size: 28px;
    margin-top: 1.1rem;
    margin-left: 1rem;
}

.topo {
    display: flex;
    justify-content: center;   
}
/* css rotas2_colaborador */

/* css do login_colaborador */
.bem {
    text-align: center;
} 

.button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0 ;
}
.servidor{
    background-color: #5b8bdf;   
}
/* css do login_colaborador */

/* chat do servidor com o cliente */   
.chat-container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    color: #000000;
    padding: 10px;
}

.chat-messages {
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
}

.message {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.message.user {
    background-color: #59a6f7;
    color: #fff;
    text-align: right;
}

.message.bot {
    background-color: #0821e2;
    color: #fff;
    text-align: left;
}

.chat-input {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.chat-input input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.chat-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
/* chat do servidor com o cliente */  

/* css das rotas3_colaborador */
.direito{
    background-color:  #7fabf7;
}

.paragrafo{
text-align: center;
}

.linha hr{
    color: #0077f7;
}
.rotas ion-icon{
    color: #0077f7;
}
.paradas {
    display: flex;
}

.onibus-icon{
    margin-top: 1.1rem;
    font-size: 50px;
}
/* css rotas3_colaborador */

/* css rotas1_passageiro */
.prd-icon{
    display: flex;
    justify-content: center;
    margin-top: 1.1rem;
    font-size: 50px;
    color: #2c64c6;
    margin-left: 40%;
}
.parte{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.casa{
    font-size: 30px;
    color: white;
    margin-left: 7rem;
}

.reto-teste {
    display: flex;
    justify-content: center;
    margin-left: 9rem;
}
/*css rotas1_passageiro */

/* css rotas2_passageiro */

.rotasDis {
text-align: center;

}
.rotasDis1 {
    text-align: center  ;
}
.rota4 {
    text-align: center;
    background-color: #c3cddd;
}

/* css rotas2_passageiro */

/*css horários  */
.hora{
    display: flex;
    align-items: center;
}
.horarios{
    width: 177px;
    border: 2px solid rgb(0, 0, 0);
    padding: 16px;
    margin: 20px;
}
.box{
    align-items: center;
    display: flex;
}
.box p{
    left: 50%;
}

/*css horários */

/* css paradas */
.body-parada{
    text-align: center;
    background-color:  #c3cddd;
}
.onibus io-icon{
   font-size: 40px;
}

.parada_solicitar button{
    text-align: center;
    width: 150px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: #5f67e3;
    border-radius: 60px;
    border-style: ridge;
}
.muto{
    background-color: #c3cddd;
    
}
/* css paradas-passageiro */

/* css rotas3_passageiros */
.rotas2_passageiro {
    background-color: #c3cddd;
    text-align: center;
}

.voltar_icone {
    font-size: 30px;
    color: white;
    margin-top: 10px;
    padding-bottom: -20px;
}

.cabeçalho{
    margin-left: 21rem;
    display: flex;
    justify-content: center;
}

.juntar {
    margin-left: 6%;
    margin-right: 12rem;
}

.vaipradireita {
    margin-left: 20%;
    margin-bottom: 20px;
}
.baixoEscuro {
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #0821e2;
    display: flex;
    justify-content: center;
}
.baixoClaro {
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color:cyan;
    display: flex;
    justify-content: center;
}
/* css rotas3_passageiros */

/* css localização em tempo real */
.luta{
    display: flex;
    align-items: first baseline;
    justify-content: center;
}
.casinha{
    margin: 25px;
    font-size: 25px;
    color: white;
}
.setinha{
    display: flex;
   align-items: baseline;
    justify-content: center;
    margin-left: -85px;
}
.seta{
    margin: 17px;
    margin-bottom: 50px;
    font-size: 25px;
    color:white
}
.conter{
    text-align: center;
}
.fmapa{
    background-color:#c3cddd ;
}
.ian{
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: cyan;
    display: flex;
    justify-content: center;
}
.gabriel{
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0821e2;
    display: flex;
    justify-content: center;
}
/* css localização em tempo real */

/* css confirmação_solicitação */
.meio{
    background-color: #c3cddd;
    text-align: center;
}

.icone_voltar{
    font-size: 30px;
    color: white;
    margin-top: -4px;
    padding-left: 375px;
    justify-content: center;
}

/* css confirmação_solicitação */
